html
{
    position: relative;
    min-height: 100%;
}

*
{
    font-family: sans-serif;
    font-variant: small-caps;
}

body
{
    text-align: center;
    font-size: 100%;
    margin-bottom: 2em; /* = footer height */
    padding-bottom: 10px;
}

ul
{
    list-style-type: none;
    padding: 0;
}

img
{
    width: 150px;
    height: auto;
}

img:hover
{
    transform: scaleX(-1);
}

#controls
{
    display: none;
}

.interval_button
{
    width: 250px;
    background-color: black;
    color: white;
    padding: 5px 5px;
    font-size: 1.2em;
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.interval_button:hover
{
    background-color: gray;
}

#play_again_button, #start_button
{
    width: 244px;
    padding: 4px 5px;
    font-size: 1.0em;
    border: 3px solid black;
    border-radius: 12px;
    margin-top: -10px;
    margin-left: 3px;
    cursor: pointer;
}

#start_button
{
    margin-top: 25px;
    background-color: white;
}

#play_again_button:hover
{
    border: 3px solid gray;
}

#start_button:hover
{
    background-color: lightgreen;
}

#front_img
{
    width: 180px;
}

footer
{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2em;
    width: 100%;
    overflow: hidden;
}

a
{
    color: grey;
    text-decoration:none;
    font-variant: normal;
}
